{% extends "base.html" %}
{% block all %}
<div class="page-header">
	<h1><b>Aspect-Based Sentiment Analysis</b><br>
	<small>Jeff Fossett</small></h1>
</div>

<body> 
	<img src="/static/img/yelp.jpg" height='150'>
	<br>
	<br>

	Please select a restaurant:

	<ul>
	{% for business in businesses %}
		<li> 
			<a href="/summaries/{{ business['business_id'] }}">{{ business['business_name'] }}</a>
		</li> 
	{% endfor %}
	</ul>
</body>
{% endblock %}
