{% extends "base.html" %}
{% block all %}
	<head>
		 <h1><b>{{ summary['business_name'] }}</b></h1>
		 <a href="/dashboard">Return to dashboard</a>
	</head>

	<body>
		<ul>

		{% for aspect in summary['aspect_summary'] %}

			<li><h2><b>{{ aspect }}</h2></b>
				<div class="progress">
				  <div class="progress-bar success" style="width: {{ summary['aspect_summary'][aspect]['pos']|length }}%;"></div>
				</div>
				<ul>
					<li><h3><b>POSITIVE</h3></b>
						<ul>
							{% for pos_sent in summary['aspect_summary'][aspect]['pos'] %}
								<li>{{ pos_sent['text'] }} - {{ pos_sent['user']}}</li>
							{% endfor %}
						</ul>	
					</li>
					<li><h3><b>NEGATIVE</h3></b>
						<ul>
							{% for neg_sent in summary['aspect_summary'][aspect]['neg'] %}
								<li>{{ neg_sent['text'] }} - {{ neg_sent['user']}}</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</li>
		{% endfor %}
		</ul>
	</body>

	<a href="/dashboard">Return to dashboard</a>
{% endblock %}